  .gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(10, auto);
    grid-gap: 30px;
    margin: 40px 20px 0px 20px
  }

  /*   .gallery>div {
    background-color: black;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 0.1px;
    height: 0.1px;
    border-radius: 50%;
  } */

  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }

    50% {
      transform: scale(1.8);
      opacity: 1;
    }

    100% {
      transform: scale(1);
      opacity: 0.6;
    }
  }


  .gallery>div {
    background-color: #fff6bd;
    border: 2px solid #fff6bd;
    width: 6px;
    height: 6px;
    border-radius: 50%;

    animation-name: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(10, auto);
      grid-gap: 28px;
      align-items: center;
    }
  }

  @media (max-width: 400px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(10, auto);
      grid-gap: 26px;
      align-items: center;
    }
  }

  @media (max-width: 360px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(10, auto);
      grid-gap: 20px;
      align-items: center;
    }
  }

  @media (max-width: 300px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(10, auto);
      grid-gap: 15px;
      align-items: center;
    }
  }

  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: light;
    background-color: #030929;
  }

  h1 {
    font-size: 40px;
    font-weight: 450;
    color: #ebf1fa;
    margin: 60px 20px 20px 20px;
    letter-spacing: 4px;
  }

  h3 {
    font-family: Courier New;
    font-size: 15px;
    font-weight: 100;
    color: #a3b7d9;
    margin: 10px 20px 20px 20px;
  }

  .wave-text span {
    display: inline-block;
    animation: wave 1.5s ease-in-out infinite;
  }

  .wave-text span:nth-child(4n + 1) {
    animation-delay: 0.6s;
  }

  .wave-text span:nth-child(4n + 2) {
    animation-delay: 0.4s;
  }

  .wave-text span:nth-child(4n + 3) {
    animation-delay: 0.2s;
  }

  @keyframes wave {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }
  }
  

  