  .gallery {
    display: grid;
    /*     grid-template-columns: repeat(10, 1fr); */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: minmax(10, auto);
    grid-gap: 25px;
    margin: 40px 20px 0px 20px
  }

  .gallery>div {
    background-color: black;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 0.5px;
    height: 0.5px;
    border-radius: 50%
  }

  @media (max-width: 570px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(10, auto);
      grid-gap: 15px;
      align-items: center;
    }
  }

  @media (max-width: 480px) {
    .gallery {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: minmax(15, auto);
      grid-gap: 10px;
      align-items: center;
    }
  }

  body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: light;
    background-color: #F8F8F8;
  }

  h1 {
    font-size: 40px;
    font-weight: 450;
    color: black;
    margin: 60px 20px 20px 20px;
    letter-spacing: 5px;
  }

  h3 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    color: black;
    margin: 10px 20px 20px 20px;
  }